// Google Fonts Import 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// 1. Import SASS Functions (so you can use them throughout this file)
@import "../node_modules/bootstrap/scss/functions";


// global variables
$enable-rounded: false;
$enable-button-pointers: false;
$enable-negative-margins: true;  //giving us access to negative margins
$enable-smooth-scroll: false;


// custom theme colors
$primary: #ff3287;
$secondary: #16be7e;
$light: #fff9f1;

// custom base font family
$font-family-base: "Montserrat";

// custom font and heading sizes/spacing
$font-size-base: 1rem;
$lead-font-size: $font-size-base * 1.5;  // must include font-size-base above to change lead size
$headings-font-weight: 300;
$headings-line-height: 1.5;
$h1-font-size: $font-size-base * 2.75;

// customized links
$link-color: $secondary;
$link-decoration: none;
$link-hover-decoration: underline;
$link-shade-percentage: 30%;
$link-hover-color: shift-color($link-color, -$link-shade-percentage);

// 2. Import variables + mixin files (so you can use them below)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


.btn-truncate {
    max-width: 100px;
    @include text-truncate;
}


$custom-colors: (
    "primary-light": #fff8fb,
    "secondary-light": #f6fffb
);


$theme-colors: map-merge($theme-colors, $custom-colors);


// remove theme color from theme-color map
$theme-colors: map-remove($theme-colors, "danger");


// create classes for color palette 

@each $color, $val in $colors {
    .bg-#{$color}{
        background-color: $val
    }
    .bg-#{$color}-light {
        background-color: tint-color($val, 80%)
    }
    .bg-#{$color}-dark{
        background-color: shade-color($val, 30%)
    }

    .text-#{$color}{
        color: $val
    }
    .text-#{$color}-light {
        color: tint-color($val, 80%)
    }
    .text-#{$color}-dark{
        color: shade-color($val, 30%)
    }
}

$custom-display-font-sizes: (
    7: 2rem,
);

$display-font-sizes: map-merge($custom-display-font-sizes, $display-font-sizes);



// LAST. Import entire bootstrap SASS file, all of the customizing you have done will be compiled into these files
@import "../node_modules/bootstrap/scss/bootstrap.scss";